.title-area .name h1 {
  color: white;
  padding: 0 10px;
}

#timeline {
  background-color: #111111;
  padding: 0px;
  color: white;
}

.myrow {
  float: left;
  clear: both;
}

/* Panel */


.header .country-name {
  padding-left: 15px;
  font-size: 26px;
}

.stat-population:before {
  content: 'Population: '
}

.stat-budget:before {
  content: 'Budget: '
}

.stat-partners:before {
  content: 'Partners: '
}

.stat:before {
  font-weight: bold;
}

.mycontainer {
  padding: 10px;
  border-bottom: 1px solid rgb(204, 204, 204);
  width: 100%;
}

.header {
  padding-top: 0px;
}

.infographic {
  height: 130px;
}

.chart {
  height: 100px;
}

.articles {
  height: 150px;
}

.challenge {
  padding-left: 10px;
}

.panel {
  background-color: rgb(239, 239, 239);
  border: 1px solid rgb(204, 204, 204);
  padding: 10px 0;
}

.budget-line {
  stroke: #aeaeae;
  stroke-width: 1px;
  fill: none;
  cursor: pointer;
}

.budget-line.selected {
  stroke: black;
}

/* End panel */

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
.axis text {
  font-size: 10px;
}
