!!! 5
%head
  %meta{ :charset => "utf-8" }
  %link{ :rel => "stylesheet", :href => "css/foundation.css" }

  %link{ :rel => "stylesheet", :type => "text/css", :href => "css/style.css" }
  %link{ :rel => "stylesheet", :type => "text/css", :href => "flags/flags32.css" }

  %script{ :src => "js/vendor/custom.modernizr.js" }

  %body
    %nav#header.top-bar
      %ul.title-area
        %li.name
          %h1 UNHCR Protection Strategy Mapping

      %div.share

      %section.top-bar-section
        %ul.left
          %li.divider
          %li.has-dropdown
            %a{ :href => "#" } Strategies
            %ul.dropdown
              %li
                %a{ :href=>"#" } Higher Education
              %li>
                %a{ :href=>"#" } Life Long
          %li.divider
          %li.strategy
            %a#strategy Higher Education


    = yield


