%div#content.row
  %div#leftpanel.panel.large-3.columns
  %div#map.large-6.columns
  %div#rightpanel.panel.large-3.columns

%div#timeline
  %div.row.full-width
    %div.large-12.columns
      %p Timeline


%script{ :src => "js/vendor/jquery.js" }
%script{ :src => "js/vendor/jquery.tipsy.js" }
%script{ :src => "js/foundation.min.js" }
%script{ :src => "js/vendor/underscore.js" }
%script{ :src => "js/vendor/backbone.js" }

%script{ :src => "js/vendor/queue.v1.min.js" }
%script{ :src => "js/vendor/d3.v3.js" }
%script{ :src => "js/vendor/d3.geo.projection.v0.min.js" }
%script{ :src => "js/vendor/topojson.v1.min.js" }
%script{ :src => "templates/templates.js" }
%script{ :src => "js/graphs/budget_graph.js" }
%script{ :src => "js/graphs/indicator_graph.js" }
%script{ :src => "js/graphs/world_map.js" }
%script{ :src => "js/education.js" }
%script{ :src => "js/utils.js" }
%script{ :src => "js/views/panel.js" }
%script{ :src => "js/views/world.js" }
%script{ :src => "js/manager.js" }

